SoftGAC/products/migrations/
SoftGAC/orders/migrations/
SoftGAC/users/migrations/
SoftGAC/products/__pycache__/
SoftGAC/users/__pycache__/
SoftGAC/orders/__pycache__/
SoftGAC/SoftGAC/__pycache__/
venv


.env

Pipfile

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
